<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQN0txcJ4hI0M_4s7Sdc5geFJ8rtzMeSM</string>
	<key>GCM_SENDER_ID</key>
	<string>270382161451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sirteUniversity</string>
	<key>PROJECT_ID</key>
	<string>flutter-us</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-us.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270382161451:ios:6e084f754ac16b6b67546e</string>
</dict>
</plist>